html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heltetica', sans-serif;
  background: #F5DEB3;
}

h1{
  color: blue;
  text-align: center;
}

.calculator{
  background: #20B2AA;
  width: 210px;
  margin: 0 auto;
  padding: 5px;
}

.calculator .keyboard{
  display: flex;
  flex-wrap:wrap;
}

.calculator .keyboard .buttons{

}

.calculator .btn{
font-weight: 400;
text-align: center;
height: 40px;
width: 70px;
font-size: 15px;
margin-top: 5px;
white-space: nowrap;
border: 1px solid gray;
padding: .375rem .75rem;
line-height: 1.5;
}